*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'vazir';
    src: local('B-Yekan'), url(./assets/font/vazir-font-v16.1.0/Vazir-Medium.ttf) format('truetype');
  }
  
  body{
    font-family: 'vazir';
    background-color: #fafafa;
  }
